/*
*   HEADER
*/
header {
    background-color: black;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    color: white;
}
header a {
    color: white;
}
header a:hover, header a:focus  {
    color: #bdbdbd;
    text-decoration: none;
}
header ul {
    color: white;
    margin: 0;
    padding: 0;
}
/*
*   Footer
*/
footer {
    border-top-style: solid;
    border-top-color: #ff0000;
    border-top-width: 3px;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    color: white;
}


/*
*   TEAM
*/

.site-team-titre {
    text-transform: uppercase;
    font-size: 27px;
    line-height: 27px;
}
.site-team-titre ul {
    padding-left: 0;
    margin-bottom: 0;
}
.site-team-sous-titre {
    text-transform: uppercase;
    margin-top: 25px;
    font-size: 21px;
}
.site-team-sous-titre span {
    font-size: 17px;
}
.site-team-corps {
    border: 1px solid rgba(230,231,232,1);
    box-shadow: 2px 3px 6px rgba(202,204,206,1);
    padding: 9px;
    min-height: 430px;
    width: 255px;
    margin-top: 25px;
    margin-right: 25px;
}
.site-team-corps h3 {
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 0;
}
.site-team-corps h4 {
    font-size: 13px;
    margin-bottom: 0;
    margin-top: 8px;
    min-height: 50px;
}
.site-team-corps a {
    color: black;
}
.site-team-corps a:hover, .site-team-corps a:focus {
    color: #e30613;
    text-decoration: none;
}

/*
*   TEAM HOVER
*/
.hovereffect {
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    cursor: default;
}

.hovereffect .overlay {
    color:white;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 96%;
    left: 0;
    background-color: rgba(227,6,19,0.7);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.hovereffect:hover .overlay {
    top:0;
    background-color: rgba(227,6,19, 0.8);
}
.overlay a {
    color:white;
}
.overlay a:hover {
    color:#bdbdbd;
}
.hovereffect p {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  padding: 10px;
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover p {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  margin:0px;
}
/*
*
*/
hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0;
    border-top: 3px solid #e30613;
}


/*
*   SCROLL UP
*/
.back-to-top {
    background-color: #bdbdbd;
    border-color: #bdbdbd;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}
.back-to-top:hover, .back-to-top:focus {
    background-color: #e30613;
    border-color: #e30613;
}